@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

.wcu-services2 .reveal{
        transform: translateX(-400px) rotate(-40deg);
        opacity: 0;
        transition: 0.5s all ease-in-out;
}
.wcu-services2 .reveal.active{
    transform: translateX(0);
    opacity: 1;
}
.wcu-services .reveal{
    transform: translateX(400px) rotate(40deg);
    opacity: 0;
    transition: 0.5s all ease-in-out;
}
.wcu-services .reveal.active{
    transform: translateX(0);
    opacity: 1;
}
.wcu-section .reveal{
    transform: translateX(400px);
    opacity: 0;
    transition: 0.5s all ease-in-out;
}
.wcu-section .reveal.active{
    transform: translateX(0);
    opacity: 1;
}
.wcu-about .reveal{
    transform: translateY(400px);
    opacity: 0;
    transition: 0.5s all ease-in-out;
}
.wcu-about .reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.wcu-clients .reveal{
    transform: translateX(400px) rotate(360deg);
    opacity: 0;
    transition: 0.7s all ease-in-out;
}
.wcu-clients .reveal.active{
    transform: translateX(0) rotate(0);
    opacity: 1;
}
.pricing .reveal{
    transform: translateY(200px);
    opacity: 0;
    transition: 0.7s all ease-in-out;
}
.pricing .active.reveal{
    transform: translateY(0);
    opacity: 1;
}
